version: '3'
services:
        opal:
                image: obiba/opal:snapshot
                #build: .
                ports:
                        - "8843:8443"
                        - "8880:8080"
                links:
                        - postgresids
                        - postgresdata
                        - rserver
                environment:
                        - OPAL_ADMINISTRATOR_PASSWORD=password
                        - POSTGRESIDS_DATABASE=opal
                        - POSTGRESIDS_HOST=postgresids
                        - POSTGRESIDS_USER=opal
                        - POSTGRESIDS_PASSWORD=password
                        - POSTGRESDATA_DATABASE=opal
                        - POSTGRESDATA_HOST=postgresdata
                        - POSTGRESDATA_USER=opal
                        - POSTGRESDATA_PASSWORD=password
                        - RSERVER_HOST=rserver
                volumes:
                        - /tmp/test-opal:/srv
        postgresids:
                image: postgres
                environment:
                        - POSTGRES_DB=opal
                        - POSTGRES_USER=opal
                        - POSTGRES_PASSWORD=password
        postgresdata:
                image: postgres
                environment:
                        - POSTGRES_DB=opal
                        - POSTGRES_USER=opal
                        - POSTGRES_PASSWORD=password
        rserver:
                image: obiba/opal-rserver:latest
                volumes:
                        - /tmp/rserver:/srv
        keycloak:
                image: jboss/keycloak
                environment:
                        KEYCLOAK_USER: admin
                        KEYCLOAK_PASSWORD: password
                ports:
                        - 8080:8080
                volumes:
                        - ./keycloak_imports:/opt/jboss/keycloak/imports
                command: 
                    - "-b 0.0.0.0 -Dkeycloak.import=/opt/jboss/keycloak/imports/opal_realm-export.json"
